<% unless current_user %>
<br><br>
<h3>Sign up for Fakebook!</h3>
  <%= render 'form' %>
<% end %>
<% if @current_user %>
  <div class="col-lg-2"></div>
  <div class="col-lg-7">



    <%= render 'statuses/form' %>

    <div id="home_feed">
      <% @statuses.each do |status| %>
        <%= render "statuses/status", status: status %>
      <% end %>
    </div>



    <% if @current_user.passive_requests %>

      <% @current_user.passive_requests.each do |req| %>

        <%= req.requester.full_name %> wants to be your friend.
        <%= link_to "Accept?", user_friendships_path(req.requester), method: :post %>
        <%= link_to "Ignore?", user_request_path(current_user,req.requester.id), method: :delete %>

      <% end %>


    <% end %>
  </div>
<% end %>
