

<div class="col-lg-11 show_header">
  <div id="cover_photo_area">
    <% if @user.profile.cover_photo %>
      <%= @user.profile.cover_photo %>
    <% else %>
      <div class="default_cover_photo_area">

      </div>
    <% end %>
    <%= image_tag @user.picture.url(:large), id: "cover_photo_user" %>
    <div id="cover_photo_text">
      <%= @user.full_name %>
    </div>
    <div class="space_holder"></div>
  </div>
</div>
<div class="buffer col-lg-11 background_grey"></div>
<div class="col-lg-1"></div>
<div class="col-lg-4">
  <div id="friend_box">
    <div id="friend_box_header">
      <%= link_to "FRIENDS - #{@user.all_friends.length}", users_friends_path(@user), id: "friend_header_text" %>
    </div>
    <% 9.times do |i| %>
      <div class="col-lg-4 small_padding">
        <% if @friends[i] %>
          <%= link_to @friends[i] do %>
            <%= image_tag @friends[i].picture.url(:medium) %>
            <div class="name_absolute">
              <%= @friends[i].full_name %>
            </div>
          <% end %>
        <% end %>
      <% if [2,5].include? i %>
        <div class="col-lg-12 grey"></div>
      <% end %>
      </div>
    <% end %>
  </div>
  <%# if current_user == @user %>
    <%# @friends.each do |friend| %>
      <div class="">
        <%# link_to friend.full_name, friend %> <%# link_to "Unfriend",
         user_friendship_path(current_user,friend),   method: :delete %>
      </div>
    <%# end %>
  <%# elsif current_user.friends.include? @user %>
    <%# @user.full_name %>
    <%# link_to "Unfriend", user_friendship_path(current_user, @user), method: :delete %>
  <%# end %>

</div>
<div class="col-lg-1 spacer"></div>
<div class="col-lg-6">
  <% if @user == current_user %>
    <%= render "/statuses/form" %>
  <% elsif (current_user.all_friends).include?(@user) %>
    <%= render "/posts/form" %>
  <% end %>
  <% if @user.newsfeed %>
    <div id="newsfeed">
      <% @user.newsfeed.each do |event| %>
        <% if event.class == Post %>
          <%= render "posts/post", post:event %>
        <% elsif event.class == Status %>
          <%= render "statuses/status", status: event %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
