<%= render "photos/cover_photo_area" %>
<div class="buffer col-lg-11 col-md-11 col-sm-11 background_grey"></div>
<div class="col-lg-1 col-md-1 col-sm-0"></div>
<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs no_padding">
  <div id="friend_box">
    <div id="friend_box_header">
      <%= link_to "FRIENDS - #{@user.all_friends.length}", users_friends_path(@user), id: "friend_header_text" %>
    </div>
    <% 9.times do |i| %>
      <div class="col-lg-4 col-md-4 col-sm-4 small_padding">
        <% if @friends[i] %>
          <%= link_to @friends[i] do %>
            <%= image_tag @friends[i].picture.url(:medium) %>
            <div class="name_absolute">
              <%= @friends[i].full_name %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if [2,5].include? i %>
        <div class="col-lg-12 col-md-12 col-sm-12 grey" style="height: 3px"></div>
      <% end %>
    <% end %>
  </div>
  <div id="photo_box">
    <div id="photo_box_header">
      <%= link_to "PHOTOS - #{@user.photos.length}", user_photos_of_path(@user), id: "photo_header_text" %>
    </div>
    <% 9.times do |i| %>
      <div class="col-lg-4 col-md-4 col-sm-4 small_padding">
        <% if @photos[i] %>
          <button type="button" class="no_padding" data-toggle="modal" data-target="#<%= dom_id(@photos[i]) %>">
            <%= image_tag @photos[i].image.url(:square) %>
          </button>
          <div class="modal fade" id="<%= dom_id(@photos[i]) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body inline width75">
                  <%= image_tag @photos[i].image.url, class: "width100 inline" %>
                </div>
                <div class="modal-body-text">
                  <%= render "photos/photo_comment", photo: @photos[i] %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% if [2,5].include? i %>
        <div class="col-lg-12 col-md-12 col-sm-12 grey" style="height: 3px"></div>
      <% end %>
      </div>
    <% end %>
  </div>

</div>
<div class="col-lg-1 col-md-1 col-sm-2 spacer"></div>
<div class="col-lg-6 col-md-6 col-sm-6">
  <% if @user == current_user %>
    <%= render "/statuses/form" %>
  <% elsif (current_user.all_friends).include?(@user) %>
    <%= render "/posts/form" %>
  <% end %>
  <% if @user.newsfeed %>
    <div id="newsfeed">
      <% @user.newsfeed.each do |event| %>
        <%= render partial: event %>
      <% end %>
    </div>
  <% end %>
</div>
