<div class="col-lg-11 col-md-11 col-sm-11 show_header">
  <div id="cover_photo_area">
    <% if @user.profile.cover_photo.url(:cover_photo) %>
      <%= image_tag @user.profile.cover_photo.url(:cover_photo) %>
    <% else %>
      <div class="default_cover_photo_area"></div>
    <% end %>
    <%= image_tag @user.picture.url(:large), id: "cover_photo_user"  %>
    <div id="cover_photo_text">
      <%= @user.full_name %>
    </div>
    <% if current_user == @user %>
      <div class="inline" id="cover_photo_change">
          <%= form_for [@user, @user.profile] do |f| %>
          <%= f.file_field :cover_photo %>
          <%= f.submit "Change cover photo" %>
        <% end %>
      </div>
    <% if current_user != @user && !(current_user.all_friends.include? @user) &&
                                  (!current_user.requestees.include? @user) %>
      <%= form_for [@user, @request], id:"friend_request_button", remote: true do |f| %>
      <div class="add_friend_button  background_grey inline">
        <%= f.submit "Add Friend", class: "background_grey borderless" %>
      </div>
      <% end %>
    <% elsif current_user.requestees.include? @user %>
    <div class="add_friend_button  background_grey inline">Friend Request Sent</div>
    <% end %>
    <div class="space_holder"></div>
  </div>
</div>
