
<%= simple_form_for [current_user, @album] do |f| %>
<h1>Your new Album</h1>
  <%= f.input :title %>
  <%= f.input :description %>
<hr>
  <h3>Photos</h5>
  <% if @album.errors.messages.has_key?(:photos) %>
    <div class="alert alert-danger">You must add at least one photo</div>
  <% end %>

  <div id="photos">
    <%= f.simple_fields_for :photos, remote: true do |p| %>
      <%= render "albums/photo_fields", f: p %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'attach photo', f, :photos %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
