<% if photo %>
<div class="photo <%= dom_id(photo, :feed) %>">
  <div class="photo_top_half">
    <%= link_to photo.user do %>
      <%= image_tag photo.user.picture.url(:avatar), class: "inline clearfix" %>
    <% end %>
    <div class="inline small_padding">
      <%= link_to photo.user.full_name, photo.user %> <br>
      <span class="date"><%= formatted_date(photo.created_at) %></span>
    </div>
    <div class="small_padding_redux">
      <% if photo.truncated %>
        <span class="truncated_text">
          <%= photo.truncated.strip %>
        </span>
        <% unless photo.truncated == photo.description %>
          <div class="inline see_more" text="<%= photo.description %>">
          ... See more
          </div>
        <% end %><br>
      <% end %>
      <div class="photo_id_div" photo_id="<%= photo.id %>">
        <% if (photo.user.all_friends.include? current_user) || (photo.user == current_user) %>
          <div class="tag_photo">Tag Photo</div>
        <% end %>
        <div class="tag_placeholder"></div>
        <div class="tagged_users hidden">
          <% if photo.tagged_users %>
            <% photo.tagged_users.each do |user| %>
              <div class="tagged_user" id="<%= dom_id(user.tagged_photo(photo)) %>">
                <%= user.full_name %> <%= link_to "X", tagging_path(1,{photo_id: photo, user_id: user}),
                    method: :delete, remote: true %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if photo.liking_users.include? current_user %>
      <%= link_to "Unlike", like_path(photo.like_for(current_user)), method: :delete, remote: true %>
    <% else %>
      <% if photo.user.all_friends.include?(current_user) || photo.tagged_users.include?(current_user) || photo.user == current_user  %>
        <%= link_to "Like", photo_likes_path(photo), method: :post, remote: true %>
      <% end %>
    <% end %>
    <% if photo.user == current_user %>
      <%= link_to "Edit", edit_user_photo_path(current_user, photo) %>
    <% end %>
  </div>
  <div class="photo_bottom_half">
    <% if photo.likes.any? %>
      <div class="like_box">
        <% if photo.liking_users %>
          <% if photo.liking_users.include? current_user %>
            <i class="glyphicon glyphicon-thumbs-up"></i>
            You like this.
            <% if photo.liking_users.length > 2 %>
              <%= photo.liking_users.length - 1 %> other people do too.
            <% elsif photo.liking_users.length == 2 %>
              <%= photo.liking_users.length - 1 %> other person does too.
            <% end %>
          <% else %>
          <%= link_to "<i class='glyphicon glyphicon-thumbs-up'></i>".html_safe,
                  photo_likes_path(photo), method: :post, remote: true  %>
            <% if photo.liking_users.length > 1 %>
              <%= photo.liking_users.length %> people liked this.
            <% elsif photo.liking_users.length == 1 %>
              1 person liked this.
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="comment_box <%= dom_id(photo, :comment_box) %>">
      <div class="comment_area">
        <% photo.comments.order(:created_at).limit(5).each do |comment| %>
          <%= render "comments/comment_modal", comment: comment %>
        <% end %>
      </div>
    </div>
      <% if (photo.user.all_friends.include? current_user) || (photo.user == current_user) || (photo.tagged_users.include? current_user) %>
        <div>
          <%= render "comments/form_modal", commentable: photo %>
        </div>
      <% end %>
  </div>
</div>
<% end %>
