<div class="hello">
<div class="modal fade" id="<%= dom_id(photo) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body inline width75">
        <%= image_tag photo.image.url, class: "width100 inline" %>
      </div>
      <div class="modal-body-text">
        <%= render "photos/photo_comment", photo: photo %>
      </div>
    </div>
  </div>
</div>
<div class="photo <%= dom_id(photo, :feed) %>">
  <div class="photo_top_half">
    <%= link_to photo.user do %>
      <%= image_tag photo.user.picture.url(:avatar), class: "inline clearfix" %>
    <% end %>
    <div class="inline">
      <%= link_to photo.user.full_name, photo.user %> <br>
      <span class="date"><%= formatted_date(photo.created_at) %></span>
    </div>
    <div class="small_padding_redux">
      <% if photo.truncated %>
        <span class="truncated_text">
          <%= photo.truncated.strip %>
        </span>
        <% unless photo.truncated == photo.description %>
          <div class="inline see_more" text="<%= photo.description %>">
          ... See more
          </div>
        <% end %>
      <% end %>
      <button type="button" class="no_padding" data-toggle="modal" data-target="#<%= dom_id(photo) %>">
        <%= image_tag photo.image.url(:timeline), class: "width100" %>
      </button>

    </div>
    <% if photo.liking_users.include? current_user %>
      <%= link_to "Unlike", like_path(photo.like_for(current_user)), method: :delete, remote: true %>
    <% else %>
      <% if photo.user.all_friends.include?(current_user) || photo.tagged_users.include?(current_user) || photo.user == current_user  %>
        <%= link_to "Like", photo_likes_path(photo), method: :post, remote: true %>
      <% end %>
    <% end %>
    <% if photo.user == current_user %>
      <%= link_to "Edit", edit_user_photo_path(current_user, photo) %>
    <% end %>
  </div>
  <div class="photo_bottom_half">
    <% if photo.likes.any? %>
      <div class="like_box">
        <% if photo.liking_users.include? current_user %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
          You like this.
          <% if photo.liking_users.length > 2 %>
            <%= photo.liking_users.length - 1 %> other people do too.
          <% elsif photo.liking_users.length == 2 %>
            <%= photo.liking_users.length - 1 %> other person does too.
          <% end %>
        <% else %>
        <%= link_to "<i class='glyphicon glyphicon-thumbs-up'></i>".html_safe,
                photo_likes_path(photo), method: :post, remote: true  %>
          <% if photo.liking_users.length > 1 %>
            <%= photo.liking_users.length %> people liked this.
          <% elsif photo.liking_users.length == 1 %>
            1 person liked this.
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="comment_box <%= dom_id(photo, :comment_box) %>">
      <div class="comment_area">
        <% photo.comments.order(:created_at).each do |comment| %>
          <%= render partial: comment %>
        <% end %>
      </div>
    </div>
      <% if (photo.user.all_friends.include? current_user) || (photo.user == current_user) %>
        <div>
          <%= render "comments/form", commentable: photo %>
        </div>
      <% end %>
  </div>
</div>
</div>
