<%= render "photos/cover_photo_area" %>

<div class="col-lg-11 relative">
  <div style="height: 15px;"></div>
  <div class="photo_header col-lg-12 col-md-12 col-sm-12 grey" style="height: 40px; color: black;">
    <span class="heading">Photos</span>
    <div class="z_index401 inline">
      <button type="button" class=" " data-toggle="modal" data-target="#album_upload">
      + Create album
      </button>
    </div>
    <div class="modal fade" id="album_upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content ">
          <div class="modal-body inline width75 background_white">
            <%= render 'albums/form' %>
          </div>
          <div class="modal-body-text hidden">

          </div>
        </div>
      </div>
    </div>
    <div class="janky">

    </div>
  </div>

  <ul class="nav nav-tabs " role="tablist">
    <li role="presentation"class="active photo_header_area" ><a href="#Photos_of_You" aria-controls="Photos_of_You" role="tab" data-toggle="tab">Photos of You</a></li>
    <li role="presentation" class="photo_header_area"><a href="#Your_Photos" aria-controls="Your_Photos" role="tab" data-toggle="tab">Your Photos</a></li>
    <li role="presentation" class="photo_header_area"><a href="#Albums" aria-controls="Albums" role="tab" data-toggle="tab">Albums</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Photos_of_You">
      <% @photos_of_user.each do |photo| %>
        <button type="button" class="no_border no_padding margin_bottom" data-toggle="modal" data-target="#<%= dom_id(photo, :tagged) %>">
          <%= image_tag photo.image.url(:album), class: "width100" %>
        </button>
        <div class="modal fade" id="<%= dom_id(photo, :tagged) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body inline width75">
                <%= image_tag photo.image.url, class: "width100 inline" %>
              </div>
              <div class="modal-body-text">
                <%= render "photos/photo_comment", photo: photo %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div style="height:50px; width: 30px; position:relative;"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="Your_Photos">
      <% @user.photos.reverse.each do |photo| %>
        <button type="button" class="no_border no_padding margin_bottom" data-toggle="modal" data-target="#<%= dom_id(photo, :taken) %>">
          <%= image_tag photo.image.url(:album), class: "width100" %>
        </button>
        <div class="modal fade" id="<%= dom_id(photo, :taken) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body inline width75">
                <%= image_tag photo.image.url, class: "width100 inline" %>
              </div>
              <div class="modal-body-text">
                <%= render "photos/photo_comment", photo: photo %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div style="height:50px; width: 30px; position:relative;"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="Albums">
      <% @albums.each do |album| %>
        <div class='inline album' data-img-list="<%= album.recent_five.map {|img| dom_id(img, :album) }.join(",") %>">
          <%= link_to user_album_path(@user,album), class:"proper_size" do %>
            <% album.recent_five.each do |photo| %>
              <%= image_tag photo.image.url(:album), class:"album_photos_toggle", id:"#{dom_id(photo, :album)}"%>
            <% end %>
          <% end %>
          <div class="album_footer">
            <span class="truncated_text">
              <%= album.truncated.strip %><%= album.truncated == album.title ? "" : "..." %>
            </span>
            <div class="date"><%= album.photos.length %> <%= album.photos.length > 1 ? "photos" : "photo" %></div>
          </div>
        </div>
      <% end %>
      <div style="height:50px; width: 30px; position:relative;"></div>
    </div>
  </div>
</div>
