<!DOCTYPE html>
<html>
<head>
  <title>fakebookClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <meta name="user_id" value="<%= current_user.id %>">
  <% end %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>
<body>
  <% unless current_user %>
    <%= render "layouts/signed_out_navbar" %>
  <% end %>
  <% if current_user %>
    <%= render "layouts/signed_in_navbar" %>
    <div class="background_grey height_50">

    </div>
  <% end %>


<div class="row background_grey">
  <div class="container">
    <div class="container-margins">

      <%= yield %>
    </div>
  </div>
  <div style="height:80px; width: 20px; position:relative; text-align: right;">
    <span style="width: 220px;position:absolute; bottom:0;">Comments, suggestions, or bugs?<br>Murphy.Stroppa@gmail.com            </span>
  </div>
</div>
<% if current_user %>
  <% if current_user.all_friends %>
    <div id="friends_chat_list" class="hidden">
      <% current_user.sorted_all_friends.each do |friend| %>
        <div class="friend_box" friend-id="<%= friend.id %>">
          <%= image_tag friend.picture.url(:avatar) %><%= friend.full_name %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div id="chat_bar">Chat</div>
  <div id="active_chat_container"></div>
<% end %>
</body>
</html>
